* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Didot, serif;
  background-image:
    url(https://ak.picdn.net/shutterstock/videos/31184113/thumb/1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

li {
  list-style: none;
  margin: 0 50px 0 50px;
}

a {
  color: rgb(77, 77, 77);
  text-decoration: none;
  font-size: 25px;
}

header {
  position: sticky;
  top: 0;
  min-height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 2px groove gray;
}

.logo {
  margin: 10px 20px 5px 10px;
}

nav > ul {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

section {
  margin: 10px 300px;
  border-radius: 5px;
}

h2 {
  color: black;
  text-align: center;
}

#form {
  text-align: center;
}

.btn {
  margin: 10px;
  padding: 0 15px;
  height: 40px;
  font-size: 20px;
  font-weight: 800;
  border: 2px gray outset;
  border-radius: 3px;
  background: lightgreen;
  cursor: pointer;
}
