* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Didot, serif;
  background-image:
    url(https://ak.picdn.net/shutterstock/videos/31184113/thumb/1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

li {
  margin: 5px;
  padding: 5px;
  list-style: none;
  margin: 0 50px 0 50px;
}

.list {
  list-style: circle;
}

a {
  color: rgb(77, 77, 77);
  text-decoration: none;
  font-size: 25px;
}

header {
  position: sticky;
  top: 0;
  min-height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 2px groove gray;
}

.logo {
  margin: 10px 20px 5px 10px;
}

nav > ul {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

section {
  margin: 25px 300px;
  border-radius: 5px;
}

#hero > h2 {
  color: black;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  
}

#form {
  text-align: center;
}

.email {
  margin: 10px;
  padding: 0 10px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
}

.btn {
  margin: 10px;
  padding: 0 15px;
  height: 40px;
  font-size: 20px;
  font-weight: 800;
  border: 2px gray outset;
  border-radius: 3px;
  background: lightgreen;
  cursor: pointer;
}

h2, p {
  margin: 10px;
}

#video {
  margin: 10px;
  padding: 10px;
}

#benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

footer {
  margin-top: 40px;
  background-color: #FFFFFF;
  padding: 20px;
  border-top: 2px groove gray;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  color: #4444;
}

@media (max-width: 1024px) {
  li {
    margin: 0 25px 0 25px;
  }
  header {
    width: auto;    
  }
  section {
    margin: 25px 100px;
  }
}